@page "/inventory"
@rendermode InteractiveServer
@using Inventories.Data
@using Inventories.Models
@using Microsoft.EntityFrameworkCore
@implements IDisposable
@inject InventoryService InventoryService
@inject IJSRuntime JSRuntime
@inject ILogger<Inventory> Logger

<h3>在庫品　一覧</h3>

<table class="table">
    <tbody>
        @foreach (var stockItem in this.stockItems)
        {
            <tr @key="stockItem.Id">
                <!-- ＠keyはBlazorエンジン側に列挙される行を一意に識別するための値 -->
                <td>@stockItem.Name</td>
                <td>@stockItem.LotNumber</td>
                <td>@stockItem.Quantity</td>
                <td>@stockItem.ArrivalDate.ToShortDateString()</td>
                <td>
                    <a href="./inventory/edit/@stockItem.Id">編集</a>
                    <button class="btn btn-danger" @onclick="@(() => OnDeleteAsync(stockItem))">削除</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="./inventory/add">在庫品の追加</a>
</div>

@code {
    private IEnumerable<StockItems> stockItems = Enumerable.Empty<StockItems>();

    /// <summary>
    /// 初期化処理
    /// </summary>
    /// <returns></returns>
    /// <remarks>
    /// OnInitializedAsyncをオーバーライドして、ページが初期化されるときにDIしたコンテキストを使ってデータを取得
    /// </remarks>
    protected override async Task OnInitializedAsync()
    {
        this.InventoryService.Changed += this.DataService_Changed;
        await this.RefreshStockItems();
    }

    /// <summary>
    /// データの変更を検知して画面を更新する
    /// </summary>
    /// <param name="sender"></param>
    /// <param name="e"></param>
    private async void DataService_Changed(object sender, EventArgs e)
    {
        try
        {
            await this.RefreshStockItems();

            // 変更があったことをBlazor側に明示的に通知して画面を更新させる
            // メインスレッドで実行されるようにInvokeAsyncを使用
            await this.InvokeAsync(() => this.StateHasChanged());
        }
        catch (Exception ex)
        {
            this.Logger.LogError(ex, ex.Message);
        }
    }

    /// <summary>
    /// 在庫品を削除する（物理削除）
    /// </summary>
    /// <param name="stockItem"></param>
    private async Task OnDeleteAsync(StockItems stockItem)
    {
        var yes = await this.JSRuntime.InvokeAsync<bool>("confirm", $"{stockItem.Name}を削除しますか？");
        if (!yes) return;

        await this.InventoryService.DeleteAsync(stockItem);        
    }

    /// <summary>
    /// 在庫情報を更新する
    /// </summary>
    /// <returns></returns>
    private async ValueTask RefreshStockItems()
    {
        this.stockItems = await this.InventoryService.GetSAllAsync();
    }

    public void Dispose()
    {
        this.InventoryService.Changed -= this.DataService_Changed;
    }
}