@page "/inventory"
@rendermode InteractiveServer
@using Inventories.Data
@using Inventories.Models
@using Microsoft.EntityFrameworkCore
@inject InventoryService InventoryService
@inject IJSRuntime JSRuntime

<h3>在庫品　一覧</h3>

<table class="table">
    <tbody>
        @foreach (var stockItem in this.stockItems)
        {
            <tr @key="stockItem.Id">
                <!-- ＠keyはBlazorエンジン側に列挙される行を一意に識別するための値 -->
                <td>@stockItem.Name</td>
                <td>@stockItem.LotNumber</td>
                <td>@stockItem.Quantity</td>
                <td>@stockItem.ArrivalDate.ToShortDateString()</td>
                <td>
                    <a href="./inventory/edit/@stockItem.Id">編集</a>
                    <button class="btn btn-danger" @onclick="@(() => OnDeleteAsync(stockItem))">削除</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a href="./inventory/add">在庫品の追加</a>
</div>

@code {
    private IEnumerable<StockItems> stockItems = Enumerable.Empty<StockItems>();

    /// <summary>
    /// 初期化処理
    /// </summary>
    /// <returns></returns>
    /// <remarks>
    /// OnInitializedAsyncをオーバーライドして、ページが初期化されるときにDIしたコンテキストを使ってデータを取得
    /// </remarks>
    protected override async Task OnInitializedAsync()
    {        
        await this.RefreshStockItems();
    }    

    /// <summary>
    /// 在庫品を削除する（物理削除）
    /// </summary>
    /// <param name="stockItem"></param>
    private async Task OnDeleteAsync(StockItems stockItem)
    {
        var yes = await this.JSRuntime.InvokeAsync<bool>("confirm", $"{stockItem.Name}を削除しますか？");
        if (!yes) return;

        await this.InventoryService.DeleteAsync(stockItem);
        await this.RefreshStockItems();
    }

    /// <summary>
    /// 在庫情報を更新する
    /// </summary>
    /// <returns></returns>
    private async ValueTask RefreshStockItems()
    {
        this.stockItems = await this.InventoryService.GetSAllAsync();
    }
}